:root {
    --dark1: #243b53;
    --dark2: #334e68;
    --ltext: #f8f9fa;
    --dtext: rgb(25, 25, 25);
    --accent: #2e5581;
  }

body {
    font-size: 1.3rem;
    text-align:center;
}

.centered-content {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
}

.center {
    margin: auto;
    width: 80%;
    padding-top:1%;
    padding-bottom:1%;
}

h2 {
    color: var(--dark1);
    text-decoration: underline;
}

h3,h6 {
    color: var(--dark2);
    font-weight:normal;
}

ol { 
    display: inline-block; 
    text-align: left; 
}

input[type=submit] {
    background-color: var(--accent);
    color: var(--ltext);
    border-radius: 7px;
    min-width: 100px;
    border-color:grey;
}

/* Navbar */
.dropdown-menu {
    min-width:96.46px;
    margin-left:20.800px !important;
}

.dropdown-menu .dropdown-item {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    margin:0;
}

.navbar-top {
    padding-bottom:0;
    background-color: var(--dark1);
}
.navbar-top .dropdown-menu-dark {
    background-color: var(--dark1);
    margin:0;
}
.navbar-bottom {
    padding-top:0;
    background-color: var(--dark2);
}

/* Tables */
.table tbody {
    background-color: var(--ltext);
}

.table thead {
    color: var(--ltext);
    background-color: var(--dark2);
}