:root {
    /* --dark1: #242424;
    --dark2: #373737;
    --ltext: #f8f9fa;
    --accent: #3a015c; */
    --dark1: #514555;
    --dark2: #6C5C71;
    --ltext: #f8f9fa;
    --dtext: rgb(25, 25, 25);
    --accent: #33427E;
  }

body {
    font-size: 1.3rem;
    text-align:center;
}

.center {
    margin: auto;
    width: 80%;
    padding-top:2%;
}

h2 {
    color: var(--dark1);
    text-decoration: underline;
}
h3,h6 {
    color: var(--dark2);
    font-weight:normal;
}

input[type=submit] {
    background-color: var(--accent);
    color: var(--ltext);
    border-radius: 7px;
    min-width: 100px;
}

ol { 
    display: inline-block; 
    text-align: left; 
}

/* Navbar */
.dropdown-menu {
    min-width:96.46px;
    margin-left:20.800px !important;
}

.dropdown-menu .dropdown-item {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    margin:0;
}

.navbar-top {
    padding-bottom:0;
    background-color: var(--dark1);
}
.navbar-top .dropdown-menu-dark {
    background-color: var(--dark1);
    margin:0;
}
.navbar-bottom {
    padding-top:0;
    background-color: var(--dark2);
}

/* Tables */
tbody {
    background-color: var(--ltext);
}

thead {
    color: var(--ltext);
    background-color: var(--dark2);
}